In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('Advertising.csv',index_col = [0])

In [3]:
data.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [4]:
# create X and y
feature_cols = ['TV']
X = data[feature_cols]
y = data.sales

# follow the usual sklearn pattern: import, instantiate, fit
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X, y)

# print intercept and coefficients
print(lm.intercept_)
print(lm.coef_)

7.032593549127693
[0.04753664]

In [6]:
df = pd.DataFrame({'x':[1,2,3,4,],'y':[1,4,9,16]})
df

   x   y
0  1   1
1  2   4
2  3   9
3  4  16

In [26]:
df[['x']]

   x
0  1
1  2
2  3
3  4

In [27]:
X = df[['x']]
Y = df.y
lr = LinearRegression()
lr.fit(X,Y)

LinearRegression()

In [11]:
print(lr.intercept_)

-5.000000000000007

In [12]:
print(lr.coef_)

[5.]

In [16]:
#y = mx+c
y1 = (5*5)+(-5)
y1

20

In [ ]:
yi(actual)     y(predicted)    ybar(average)
1                0                11
4                5                11
9                10               11
16               15               11
25               20               11

In [29]:
#RSS = (yi(actual) - y(predicted))**2

RSS = (1-0)**2 + (4-5)**2 + (9-10)**2 + (16-15)**2 + (25-20)**2
RSS

29

In [30]:
#TSS = (yi(actual) - ybar(average))**2

TSS = (1-11)**2 + (4-11)**2+(9-11)**2+(16-11)**2+(25-11)**2
TSS

374

In [31]:
#R(square) = (TSS-RSS)/TSS

R = (374-29)/374
R

0.9224598930481284

In [39]:
#AdjR(Square) = 1-(1-R(Square))*(n-1)/(n-p-1)
#n = Total Sample Size
#p = number of predicted

Adj_R = 1-(1-0.92)*(5-1)/(5-1-1)
Adj_R

0.8933333333333334

In [41]:
# mse = mean square error
#mse = (yi(actual) - y(predicted))**2/n

mse = 29/5
mse

5.8

In [44]:
#rmse = root mean square error
#rmse = (yi(actual) - y(predicted))**2/n

import math
rmse = math.sqrt(5.8)
rmse

2.4083189157584592

In [50]:
#mae = mean absolute error
#mae = |yi(actual) - y(predicted)/n
#mae = (|(1-0)+(4-5)+(9-10)+(16-15)+(25-20)|)/5

mae = 5/5
mae

1.0

In [51]:
#mape = mean absolute percentage error
#mape = (|yi(actual) - y(predicted)/yi(actual)|)/n
#mape = (|((1-0)/1)+((4-5)/4)+((9-10)/9)+((16-15)/16)+((25-20)/25)|)/5

mape = (1-0.25-0.11+0.062+0.2)/5
mape

0.18039999999999998